:root {
  --specialWhite: rgba(255,255,255,0.3);
  --basicWhite: #ffffff;

  --specialBlack: rgba(0,0,0,0.3);
  --lightBlack: #333333;
  --basicBlack: #000000;
  
  --lightGray: #f2f2f2;
  --basicGray: #eeeeee;
  --darkGray: #ebebeb;
  --extraDarkGray: #a9a9a9;
  
  --lightBlue: #81b3d2;
  --basicBlue: #669ec0;
  --darkBlue: #5496bd;

  --lightBrown: #766357;
  --basicBrown: #604e43;
  --darkBrown: #503e33;

}

* {
  box-sizing: border-box;
}

body {
  min-width: 1200px;

  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--lightBlack);
  background-color: var(--basicGray);
}


a {
  text-decoration: none;
}


img {
  max-width: 100%;
  height: auto;
}


/*Сетки*/

.page {
  height: 100%;
}


.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;

}



.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px,1px,1px,0);
}

.body-wrapper {
  width: 1200px;
  margin: 0 auto;

  background: var(--basicWhite);

  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}


.site-navigation {
  display: flex;
  background-color: var(--basicWhite);
}


.navigation-list {
  max-width: 1100px;
  list-style: none;
  margin: 0;
  margin-top: 15px;
  padding: 0;
}


.navigation-item a {
  font-weight: 700;
  color: var(--basicBlack);
}


.navigation-item a[href]:hover,
.navigation-item a[href]:focus{
  color: var(--lightBlue);
}


.navigation-item a[href]:active{
  color: var(--basicBlack);
  opacity: 0.3;
}


.banner {
  display: flex;
  flex-direction: column;
  background-color: var(--basicWhite);
  


}


.banner h2 {
  max-width: 491px;
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  color: var(--basicBlack);
  text-align: center;
  align-self: center;

  
  
}


.banner img {
 
  background-color: var(--basicGray);
}


.banner .img-wrapper {
  order: -1;
  position: relative;
}

.banner .img-wrapper::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 458px;
  height: 352px;

  background-image: url("../img/welcome.png");
  background-repeat: no-repeat;
  transform: translate(-50%,-50%);
}


.banner .img-wrapper::before {
  content: "";
  display: block;
  position: absolute;
  top: 450px;
  left: 0;
  width: 1200px;
  height: 62px;
  

  background-image: url("../img/bg-promo.png");
  
  background-repeat: no-repeat;
  
}

.advantage {
  position: relative;
  background-color: var(--basicWhite);
}


.advantage h2 {
  font: inherit;
  text-align: center;
  padding-bottom: 50px;
}


.advantage-view-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
 

  background-color: rgba(255,0,0,0.4);
}

.advantage-view-item {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: end;
  
}



.advantage-view-item .advantage-view-content {
  max-width: 400px;
  color: var(--basicWhite);
  background-color: var(--lightBlue);
  text-align: center;
}

.advantage-view-item:nth-child(2) .advantage-view-image {
  order: -1;

}


.advantage-view-item:nth-child(2) {
  margin-top: 320px; 
}

.advantage-view-item:nth-child(2) .advantage-view-content {
  align-self: stretch;
}

.advantage-view-content {
  min-height: 256px;
}

.advantage-view-item:nth-child(1) h3 {
  padding-left: 139px;
  padding-right: 139px;
}

.advantage-view-item:nth-child(2) h3 {
  padding-left: 123px;
  padding-right: 123px;
}

.advantage-view-content h3 {
  padding-top: 49px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.advantage-view-content p {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
}

.advantage-view-item:nth-child(2) p {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
}

.advantage-view-image {
  width: 800px;
  height: 256px;
  
  background-color: var(--basicGray);
}


.advantage-no-view {
  min-height: 256px;
  background-color: var(--basicGray);
}


.advantage-no-view-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 47px;
}


.advantage-no-view-item {
  max-width: 400px;
  text-align: center;
}


.advantage-no-view-item h3 {
  padding-left: 140px;
  padding-right: 140px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basicBlack);
}


.advantage-no-view-item:nth-child(1) p {
  padding-left: 96px;
  padding-right: 96px;
}

.advantage-no-view-item:nth-child(2) p {
  padding-left: 60px;
  padding-right: 60px;
}


.advantage-no-view-item:nth-child(3) p {
  padding-left: 70px;
  padding-right: 70px;
}


.figures {
  min-height: 330px;
  position: absolute;
  top: 336px;
  left: 0;

  background-color: var(--basicWhite);
}

.figures-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 160px;
}

.figures-item {
  width: 400px;
  text-align: center;

  background-color: rgba(255,0,0,0.4);

}

.figures-item h3 {
  font-size: 21px;
  line-height: 26px;
  color: var(--basicBlack);
}

.figures-item:nth-child(1) p {
  padding-left: 73px;
  padding-right: 73px;
}

.figures-item:nth-child(2) p {
  padding-left: 51px;
  padding-right: 51px;
}

.figures-item:nth-child(3) p {
  padding-left: 65px;
  padding-right: 65px;
}


.hotels-form {
  position: relative;
  background-color: var(--basicWhite);
}

.hotels-form p{
  line-height: 24px;
  text-align: center;
}


.hotels-form p:first-of-type {
  font-size: 30px;
 
  font-weight: 700;
 
  color: var(--basicBlack);

}



.checking-date-form {
  width: 568px;
  min-height: 481px;
  position: absolute;
  top: 100px;
  left: 200px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basicBlack);
  background-color: var(--basicWhite);
}

.checking-date-form fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.checking-date-form legend {
  width: 100%;
  padding: 30px 0;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  color: var(--basicWhite);
  background-color: var(--lightBrown);
}

.checking-date-form legend:hover,
.checking-date-form legend:focus {
  background-color: var(--basicBrown);
}

.checking-date-form legend:active {
  background-color: var(--darkBrown);
  color: var(--specialWhite);
}

.form-wrapper {
  padding-left: 55px;
  padding-right: 55px;
}


.form-group {
  display: flex;
  justify-content: space-between;
  position: relative;
  min-height: 40px;
  margin-bottom: 35px;
  
}


.form-group label {
  align-self: center;
}

.form-group:nth-child(1) {
  margin-top: 55px;
}


.calendar-icon {
  padding: 0;
  position: absolute;
  top: 9px;
  right: 8px;
  border: none;
  width: 21px;
  height: 23px;
  fill: var(--extraDarkGray);
  background-color: transparent;
  z-index: 100;

}

.calendar-icon:hover,
.calendar-icon:focus {
 fill: var(--basicBlack);
 cursor: pointer;

}


.calendar-icon:active {
 fill: var(--lightBlue);
 outline: none;


}


.checking-date-form input,
.checking-date-form input::placeholder {
  font-size: 14px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basicBlack);
}

.form-group input {

  width: 335px;
  box-sizing: border-box;
  background-color: var(--lightGray);
  border: none;
}

.form-group:nth-child(1) label {
  margin-right: 33px;
}

.form-group:nth-child(2) label {
  margin-right: 29px;
}


.checking-date-form input::placeholder {
  padding: 6px 0;
  padding-left: 13px;

}

.checking-date-form input:hover {
  background-color: var(--darkGray);

}

.checking-date-form input:focus {
  background-color: var(--basicWhite);
  border: 2px solid var(--basicGray);
}

.count-wrapper {
  display: flex;
  justify-content: space-between;
}


.count-person {
  display: flex;

}

.count-person:nth-child(1) label {
  margin-right: 50px;
}


.count-person:nth-child(2) label {
  margin-right: 27px;
}


.count-person label {
  align-self: center;

}


.count-person input {
  width: 38px;
  height: 38px;
  padding: 13px;
  background-color: var(--lightGray);
  border: none;
}


.count-person .min,
.count-person .max {
  
  width: 38px;
  height: 38px;
  font-size: 21px;
  line-height: 38px;
  font-weight: 700;
  vertical-align: center;
  
  color: var(--extraDarkGray);
  background-color: var(--lightGray);

  border: none;

}

.count-person .min:hover,
.count-person .min:focus,
.count-person .max:hover,
.count-person .max:focus {
  color: var(--basicBlack);
}

.count-person .min:active,
.count-person .max:active {
  color: var(--lightBlue);
}

.button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basicWhite);
  background-color: var(--lightBlue);
  border: none;
}

.button-form {
  max-width: 458px;
  margin-top: 54px;
  margin-left: 55px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 197px;
  padding-right: 197px;
}

.button-form:hover,
.button-form:focus {
  background-color: var(--basicBlue);
}



.button-form:active {
  background-color: var(--darkBlue);
  color: var(--specialWhite);
  
}

/* Футер */

.main-footer {
  background-color: var(--basicWhite);
}


.footer-contacts a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basicBlack);
}

.main-footer .social-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-footer .social-icon {
  display: inline-block;
  position: relative;
  width: 48px;
  height: 48px;
  background-color: var(--lightBlue);
}

.social-icon:hover,
.social-icon:focus {
  background-color: var(--basicBlue);
}

.social-icon:active {
  background-color: var(--darkBlue);
}

.social-icon-twitter:active::before,
.social-icon-facebook:active::before,
.social-icon-youtube:active::before {
  opacity: 0.3;
}

.main-footer .social-icon-twitter:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 17px;
  height: 17px;
  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;
  transform: translate(-50%,-50%);
  
}

.main-footer .social-icon-facebook::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 22px;
  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
  transform: translate(-50%,-50%);
}


.main-footer .social-icon-youtube::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 16px;
  background-image: url("../img/youtube.svg");
  background-repeat: no-repeat;
  transform: translate(-50%,-50%);
}

.creators-logo svg {
  fill: var(--basicBlack);
}

.creators-logo svg:hover,
.creators-logo svg:focus {
  fill: var(--lightBlue);
}

.creators-logo svg:active {
  fill: var(--basicBlack);
  opacity: 0.3;
}



/* Страница Каталога*/

.inner-header .active{
  color: var(--lightBrown);
}

.inner-page .filter {
  /* Временно */
  color: var(--basicWhite);
  background-color: var(--lightBlack);
}


.filter legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.inner-page .price-count-wrapper {
  
  border: 2px solid var(--basicWhite);
  border-radius: 3px;
}

.price-count-wrapper input {
  
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: normal;
  color: var(--basicWhite);
  background-color: transparent;
  border: none;
}

.price button {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basicWhite);
  background-color: transparent;
  border: 2px solid var(--basicWhite);
  border-radius: 3px;
}

.catalog-filter-wrapper p:nth-of-type(1) {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basicBlack);
}

.catalog-filter-wrapper p:nth-of-type(2) {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basicBlack);
}

.inner-page .sort-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sort-item a {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: var(--specialBlack);
}

.sort-item a:not(.active):hover,
.sort-item a:not(.active):focus {
  color: var(--lightBlue);
}

.sort-item a:not(.active):active {
  color: var(--basicBlack);
}
.sort-item .active {
  color: var(--lightBlue);
}

.catalog {
  background-color: var(--basicWhite);
}

.catalog-item-title a{
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basicBlack);
}

.catalog-item-title a:hover,
.catalog-item-title a:focus {
  color: var(--lightBlue);
}

.catalog-item-title a:active {
  opacity: 0.3;
}

.catalog-item .button-catalog {
  font-weight: bold;
  color: var(--basicWhite);
  background-color: var(--basicBlue);
}

.catalog-item .button-view:hover,
.catalog-item .button-view:focus {
  background-color: var(--basicBlue);
}

.catalog-item .button-view:active {
  background-color: var(--darkBlue);
  color: var(--specialWhite);
}

.catalog-item .button-booking {
  background-color: var(--lightBrown);
}

.catalog-item .button-booking:hover,
.catalog-item .button-booking:focus  {

  background-color: var(--basicBrown);
}


.catalog-item .button-booking:active {
  background-color: var(--darkBrown);
  color: var(--specialWhite);
}



.catalog-item .rating-stars-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-item .rating-stars-item {
  width: 19px;
  height: 19px;
  background-image: url("../img/star.svg");
  background-repeat: no-repeat;

}

.catalog-item .rating-text {
  background-color: var(--lightGray);
  color: var(--lightBlack);
}