:root {
  --specialWhite: rgba(255,255,255,0.3);
  --basicWhite: #ffffff;
  
  --lightBlack: #333333;
  --basicBlack: #000000;
  
  --lightGray: #f2f2f2;
  --basicGray: #eeeeee;
  --darkGray: #ebebeb;
  --extraDarkGray: #a9a9a9;
  
  --lightBlue: #81b3d2;
  --basicBlue: #669ec0;
  --darkBlue: #5496bd;

  --lightBrown: #766357;
  --basicBrown: #604e43;
  --darkBrown: #503e33;

}


body {
  min-width: 1200px;

  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--lightBlack);
  background-color: var(--basicGray);
}


a {
  text-decoration: none;
}


img {
  max-width: 100%;
  height: auto;
}


.visually-hidden {
  position: absolute;
  width: 1;
  height: 1;
  clip: rect(0,0,0,0);
}

.site-navigation {
  background-color: var(--basicWhite);
}


.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
}


.navigation-item a {
  font-weight: 700;
  color: var(--basicBlack);
}


.navigation-item:first-child a {
  color: var(--lightBrown);
}


.navigation-item:not(:first-child) a:hover,
.navigation-item:not(:first-child) a:focus{
  color: var(--lightBlue);
}


.navigation-item:not(:first-child) a:active{
  color: var(--basicBlack);
  opacity: 0.3;
}


.banner {
  background-color: var(--basicWhite);
}


.banner h2 {
  font-size: 21px;
  margin: 0;
  color: var(--basicBlack);
  text-align: center; 
}


.banner img {
  background-color: var(--basicGray);
}

.advantage {
  background-color: var(--basicWhite);
}


.advantage h2 {
  font: inherit;
  text-align: center;
}


.advantage-view-list {
  list-style: none;
  margin: 0;
  padding: 0;
}



.advantage-view-item .advantage-view-content {
  color: var(--basicWhite);
  background-color: var(--lightBlue);
  text-align: center;
}


.advantage-view-content h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.advangtage-view-image {
  background-color: var(--basicGray);
}


.advantage-no-view {
  background-color: var(--basicGray);
}


.advantage-no-view-list {
  list-style: none;
  margin: 0;
  padding: 0;
}


.advantage-no-view-item {
  text-align: center;
}


.advantage-no-view-item h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basicBlack);
}


.figures-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.figures-item {
  text-align: center;
}

.figures-item h3 {
  font-size: 21px;
  line-height: 26px;
  color: var(--basicBlack);
}

.hotels-form {
  background-color: var(--basicWhite);
}

.hotels-form p{
  line-height: 24px;
  text-align: center;
}


.hotels-form p:first-of-type {
  font-size: 30px;
 
  font-weight: 700;
 
  color: var(--basicBlack);

}



.checking-date-form {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basicBlack);
}

.checking-date-form legend {
  font-size: 21px;
  font-weight: 700;
  color: var(--basicWhite);
  background-color: var(--lightBrown);
}
.checking-date-form input,
.checking-date-form input::placeholder {
  font-size: 14px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basicBlack);
}

.checking-date-form input {
  background-color: var(--lightGray);
  border: none;
}

.checking-date-form input:hover {
  background-color: var(--darkGray);

}

.checking-date-form input:focus {
  background-color: var(--basicWhite);
  border: 2px solid var(--basicGray);
}


.count-person button {
  font: inherit;
  color: var(--extraDarkGray);
}

.count-person .min:hover,
.count-person .min:focus,
.count-person .max:hover,
.count-person .max:focus {
  color: var(--basicBlack);
}

.count-person .min:active,
.count-person .max:active {
  color: var(--lightBlue);
}

.button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basicWhite);
  background-color: var(--lightBlue);
  border: none;
}

.button-form:hover,
.button-form:focus {
  background-color: var(--basicBlue);
}



.button-form:active {
  background-color: var(--darkBlue);
  color: var(--specialWhite);
  
}

/* Футер */


.main-footer .contacts a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basicBlack);
}

.main-footer .social-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-footer .social-icon {
  display: inline-block;
  position: relative;
  width: 48px;
  height: 48px;
  background-color: var(--lightBlue);
}

.social-icon:hover,
.social-icon:focus {
  background-color: var(--basicBlue);
}

.social-icon:active {
  background-color: var(--darkBlue);
}

.social-icon-twitter:active::before,
.social-icon-facebook:active::before,
.social-icon-youtube:active::before {
  opacity: 0.3;
}

.main-footer .social-icon-twitter:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 17px;
  height: 17px;
  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;
  transform: translate(-50%,-50%);
  
}

.main-footer .social-icon-facebook::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 22px;
  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
  transform: translate(-50%,-50%);
}


.main-footer .social-icon-youtube::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 16px;
  background-image: url("../img/youtube.svg");
  background-repeat: no-repeat;
  transform: translate(-50%,-50%);
}

.creators-logo img {

  filter:  brightness(0);
  
}

.creators-logo:hover img,
.creators-logo:focus img {


  filter:  brightness(1);
  
}

.creators-logo:active img {

  filter:  brightness(0) opacity(20%); 
}



/* Страница Каталога*/

.catalog {
  background-color: var(--basicWhite);
}

.catalog-item h3 a{
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basicBlack);
}

.catalog-item h3 a:hover,
.catalog-item h3 a:focus {
  color: var(--lightBlue);
}

.catalog-item h3 a:active {
  opacity: 0.3;
}

.catalog-item .button-catalog {
  font-weight: bold;
  color: var(--basicWhite);
  background-color: var(--basicBlue);
}

.catalog-item .button-view:hover,
.catalog-item .button-view:focus {
  background-color: var(--basicBlue);
}

.catalog-item .button-view:active {
  background-color: var(--darkBlue);
  color: var(--specialWhite);
}

.catalog-item .button-booking {
  background-color: var(--lightBrown);
}

.catalog-item .button-booking:hover,
.catalog-item .button-booking:focus  {

  background-color: var(--basicBrown);
}


.catalog-item .button-booking:active {
  background-color: var(--darkBrown);
  color: var(--specialWhite);
}



.catalog-item .rating-stars-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-item .rating-stars-item {
  width: 19px;
  height: 19px;
  background-image: url("../img/star.svg");
  background-repeat: no-repeat;

}

.catalog-item .rating-text {
  background-color: var(--lightGray);
  color: var(--lightBlack);
}